---
import Layout from '../layouts/Layout.astro';
import MainTime from "../components/MainTime.astro";
import TimeZones from "../components/TimeZones.astro";
import Searcher from "../components/Searcher.astro";
---

<Layout title="Welcome to Astro.">
    <section class="min-h-screen min-w-full flex items-center">
        <div class="flex flex-col gap-y-12 mx-auto">
            <MainTime/>

            <Searcher/>

            <TimeZones/>
        </div>
    </section>
</Layout>
