---
import Layout from '../layouts/Layout.astro';
import ItemsZone from "../components/ItemsZone.astro";
import MainTime from "../components/MainTime.astro";
import SearchTime from "../components/Icons/SearchTimeIcon.astro";
---

<Layout title="Welcome to Astro.">
    <section class="min-h-screen min-w-full flex items-center">
        <div class="flex flex-col gap-y-12 mx-auto">
            <MainTime/>

            <div class="rounded-full border-2 flex justify-between w-80 md:w-full">
                <label class="w-80">
                    <input type="text" class="w-full h-12 rounded-full border-0 focus:outline-none px-4" placeholder="Search for a city"/>
                </label>
                <button class="bg-mine-shaft-950 text-white w-20 h-10 rounded-full flex justify-center items-center my-1 mr-1 hover:bg-mine-shaft-700 transition ease-in-out duration-300">
                    <SearchTime/>
                </button>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-12 mx-6 md:mx-0">
                <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
                <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
                <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
                <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
            </div>
        </div>
    </section>
</Layout>
