---
import ItemsZone from "./ItemsZone.astro";
---
<div class="grid grid-cols-1 md:grid-cols-2 gap-y-8 gap-x-12 mx-6 md:mx-0">
    <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
    <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
    <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
    <ItemsZone title="Madrid, Espa単a" time="14:01:32"/>
</div>